@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

header {
    height: 80px;
    background-color: #333;
    color: #fff;
    text-align: center;
    line-height: 80px;
    font-family: "Poppins", sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: white;
    margin: 0;
    padding: 0;
  }
  

.navbar-brand {
    position: relative;
}

.navbar-logo {
    position: relative;
    top: 15px;
    left: 30px;
    height: auto;
}

.navbar-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0;
}

.nav-item {
    margin: 0 10px;
}

.navbar-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 450px;
    height: 10px;
    display: flex;
    opacity: 0.8;
    padding: 21px 9px;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.12999999523162842) ;
    align-items: center;
    flex-shrink: 0;
    border-radius: 24px;
    justify-content: space-between;
    background-color: rgba(75, 75, 75, 0.5600000023841858);
}

.navbar-button:hover {
  cursor: pointer;
}


.nav-dropdown-container {
  display: none;
  position: absolute;
  top: 81px;
  left: 45%;
  transform: translateX(-45%);
  width: 220px;
  height: 150px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0 0 24px 24px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
  justify-content: center;
  z-index: 5;
}

.nav-dropdown-container.visible {
  display: block;
}

.nav-dropdown-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.nav-dropdown-container ul li {
  margin: 0;
  height: auto;
}

.nav-dropdown-container ul li a {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #333;
  text-decoration: none;
  height: 35px;
  padding: 0 10px;
}

.nav-dropdown-container ul li a:hover {
  background-color: #eee;
}

.nav-text2 {
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);

}
  
.profile-picture {
    top: 15px;
    right: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    opacity: 1;
    position: relative;
    
}

.profile-text {
    top: 12px;
    right: 10px;
    color: rgb(0, 0, 0);
    height: auto;
    position: relative;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-stretch: normal;
    opacity: 1;
}

.nav-text1 {
    right: -15px;
    position: relative;
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.nav-profile-container {
  top: 10px;
  right: 35px;
  width: 150px;
  height: 20px;
  display: flex;
  opacity: 1;
  padding: 21px 9px;
  position: absolute;
  align-self: stretch;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.12999999523162842) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 24px;
  padding-right: 21px 9px;
  justify-content: space-between;
  background-color: rgba(75, 75, 75, 0.5600000023841858);
}