@import url('https://fonts.googleapis.com/css?family=Rubik');
.feed-container {
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 1480px;
    height: 900px;
    
    flex-direction: column;
    gap: 2em;
    padding: 29px 92px;
    position: relative;
    box-shadow: 20px 20px 4px 0px rgba(0, 0, 0, 0.25) ;
    box-sizing: content-box;
    justify-content: space-between;
    
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 1);
}

.feedbox-part {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    gap: 2em;
    flex-direction: row;
    align-items: center;
}

.feed-mini-news {
    display: flex;
    
    flex-shrink: 0;
    gap: 2em;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.feedbox-mini-container {
    transform: translateX(-40%) translateY(5%);

    align-self: center;
    left: 1%;
    width: 220px;
    height: 100px;
    display: flex;
    position: relative;
    box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.25) ;
    box-sizing: content-box;

    /* align-items: center; */
    flex-direction: column;
    align-items: flex-start;

    flex-shrink: 0;
    border-radius: 12px;
    
    
    background-color: rgb(235, 221, 102);
}

.feedbox-container {
    transform: translateX(-40%) translateY(-5%);

    left: 1%;
    width: 180px;
    height: 220px;
    display: flex;
    position: relative;
    box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.25) ;
    box-sizing: content-box;
    
    flex-shrink: 0;
    border-radius: 12px;
    gap: 1em;

    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(235, 221, 102);
}

.feedbox-image {
    top: 15px;
    width: 133.142px;
    height: 88.857;
    position: relative;
    border-radius: 10px;
}

.feed-text{
    left: 10px;
    color: rgb(29, 29, 29);
    height: auto;
    position: relative;
    font-size: 12px;
    font-style: SemiBold;
    text-align: left;
    font-family: Rubik;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

#newsfeed-title {
    display: flex;
    
    width: 600px;
    height: 100px;
    left: 50%;
    transform: translate(50%, 38%);
    background-color: rgb(235, 221, 102);
    border-radius: 12px;
}