#schedule-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
    gap: 2em;
}

#schedule-title {
    display: flex;
    
    width: 30%;
    height: 75px;
    transform: translate(0, 0);
    background-color: rgba(36, 36, 36, 1);
    border-radius: 12px;

    align-items: center;
    justify-content: center;

    /*Fonts */
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    /* font-weight: bold; */
}

#schedule-feed-container {
    width: 75%;
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 10px 92px 20px 92px; /* T R B L */
    position: absolute;
    top: 120px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 20px 20px 4px 0px rgba(0, 0, 0, 0.25) ;
    box-sizing: content-box;
    overflow-y: auto;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 1);

    justify-content: space-evenly;
}

#schedule-calendar {
    min-width: 300px;
    width: 300px;
    height: 350px;
    /* background-color: black; */

    display: flex;
    justify-content: stretch;
    overflow: hidden;
    flex-wrap: wrap;
    padding: 6px;
}

.calendar-day {
    width: 40px;
    height: 40px;
    background-color: #F8D57E;
    border-radius: 4px;
    text-align: center;
    margin: 1px;
}

.prev-month-text {
    color:rgba(82, 82, 82, 0.836);
}

.calendar-day-of-week {
    width: 40px;
    height: 25px;
    background-color: #F8D57E;
    border-radius: 4px;
    text-align: center;
    margin: 1px;
}

.calendar-heading {
    width: 300px;
    height: auto;
    text-align: center;
}

.curr-day {
    background-color: #f5aa6d;
}

/* Daily Schedule Formats */

.schedule-list {
    width: 500px;
    height: auto;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    overflow: auto;
    align-content: center;
}

/* Daily - Schedule Contents */

.schedule-item {
    width: 80%;
    height: 85px;
    display: none;
    position: relative;
    box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.25) ;
    box-sizing: content-box;

    /* align-items: center; */
    align-self: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    flex-shrink: 0;
    border-radius: 12px;
    cursor: pointer;
    padding: 15px;
    
    background-color: #F8D57E;
}

.schedule-item:hover {
    background-color: rgba(244, 192, 30, 1);
}

.schedule-daily-heading {
    font-weight: bold;
    text-align: center;
}

.left-field {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
}

.right-field {
    display: flex;
    align-items: flex-end;
}

.subject-logo {
    width: 40px;
    height: 35px;
    text-align: center;
    align-items: center;
    padding-top: 5px;
    justify-items: center;
    background-color: beige;
    border-radius: 6px;
}

.subject-content {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.delete-button {
    width: 30px;
    height: 80px;
    text-align: center;
    background-color: rgb(253, 161, 40);
    border-radius: 6px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.delete-button:hover {
    background-color: rgba(255, 46, 46, 0.74);
    cursor: pointer;
}

.show {
    display: flex;
}

.add-schedule {
    align-items: center;
    justify-content: center;

    text-align: center;
    font-size: 24px;
}

.unedited {
    align-items: center;
    justify-content: center;

    text-align: center;
    font-size: 24px;
}


.schedule-add-form {
    box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.25);
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F4C01E;
    z-index: 100;
    padding: 20px;
    border-radius: 18px;
    width: 400px;
    height: 600px;

    flex-direction: column;
    text-align: center;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 6;
    display: none;
  }

  #bookmark-af-text {
    margin-left: 10px;
    margin-right: 10px;
    width: 75%;
    padding: 10px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: rgba(36, 36, 36, 1);
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

#bookmark-af-label {
    margin-top: 10px;
  }


  .bookmark-af-b {
    flex-direction: column;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 350px;
    height: auto;
    border-radius: 18px;
    margin: auto;
  }

  #bookmark-af-icon {
    margin-left: 10px;
    margin-right: 10px;
    width: 15%;
    padding: 10px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: rgba(36, 36, 36, 1);
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

  #cancel-b-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #FF5733;
    box-shadow: 0px 4px 4px -3px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    border: none;
    font-size: 15px;
    width: 200px;
    height: 40px;
  }

  #cancel-b-btn:hover {
    background: #dd4725;
  }

  #edit-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #F4C01E;
    box-shadow: 0px 4px 4px -3px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    border: none;
    font-size: 15px;
    width: 200px;
    height: 40px;
  }

  #edit-btn:hover {
    background: #ddac19;
  }

#overlay {
    background: #00000083;
    opacity: 100%;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    z-index: 50;
}